/* Stylesheet for library project - Odin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, san-serif;
  color: black;
}

body {
  background-color: #5f99de;
}

.container {
  background-color: #e7e7e7;
  height: 100vh;
  /* Part of the responsive design */
  width: clamp(400px, 75%, 1440px);
  margin: 0 auto;
  background-image: linear-gradient(
    white 1em,
    white 14%,
    #a7b9d2 0.2em,
    #e2e8f0 15.1%,
    transparent 0.1em,
    transparent 100%
  );
  /* border: 1px solid MediumVioletRed; */
  border: 1px solid transparent;
}

.topBar {
  height: 14vh;
  width: 100%;
  background-color: white;
  border: 1px solid transparent;
  /* border: 1px solid MediumVioletRed; */
}

/* Start of slider definition */
/*   source: https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.8em;
  width: 0.8em;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 0.8em;
}

.slider.round:before {
  border-radius: 50%;
}
/* End of slider definition */

h2 {
  text-align: center;
  margin: 0.5em;
}

.content {
  padding: 1.6em;
}
