/* Stylesheet for library project - Odin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, san-serif;
  color: black;
}

body {
  background-color: #5f99de;
}

.container {
  background-color: #e7e7e7;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid MediumVioletRed;
}
