/* Stylesheet for library project - Odin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, san-serif;
  color: black;
}

body {
  background-color: #5f99de;
}

.container {
  background-color: #e7e7e7;
  height: 100vh;
  /* Part of the responsive design */
  width: clamp(400px, 75%, 1440px);
  margin: 0 auto;
  background-image: linear-gradient(
    white 1em,
    white 14%,
    #a7b9d2 0.2em,
    #e2e8f0 15.1%,
    transparent 0.1em,
    transparent 100%
  );
  /* border: 1px solid MediumVioletRed; */
  border: 1px solid transparent;
}

.topBar {
  height: 14vh;
  width: 100%;
  background-color: white;
  border: 1px solid transparent;
  /* border: 1px solid MediumVioletRed; */
}

h1 {
  text-align: center;
  margin: 1.5em;
}

.content {
  padding: 1.6em;
}
